*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	
}

.container{
	width:1180px;
	margin:0 auto;
	/* border:2px solid red; */
	
}
.heroIMG{
	padding:60px 0 120px;
	background-color:yellow;
}
.header{
	margin-bottom:60px;
}
.row{
	display:table;
	width:100%;
	clear:both;
}

[class^='col-']{
	float:left;
	padding:0  15px;
}
.col-1{
	width:calc(100% *1/12);
}
.col-3{
	width:calc(100% *3/12);
}
.col-4{
	width:calc(100% *4/12);
}
.col-5{
	width:calc(100% *5/12);
}
.col-9{
	width:calc(100% *9/12);
}
.col-10{
	width:calc(100% *10/12);
}
.offset-1{
	margin-left:calc(100% *1/12);
}
.offset-2{
	margin-left:calc(100% *2/12);
}
ul{
	list-style:none;
}
.text-right{
	text-align:right;
}
nav ul li a.active{
	font-weight:300;
}
a:link,a:visited{
	text-decoration:none;
	padding:10px;
	font-size:25px;
	font-weight:bold;
	display:inline-block;
	text-transform:capitalize;
	color:#010101;
}
.navbar ul li{
	display:inline-block;
	margin:10px;
}

.inspiration{
	margin-top:75px;
}
.pri-heading{
	font-size:32px;
	font-weight:bold;
	color:block;
	margin-bottom:25px;
}
.sec-heading{
	font-size:20px;
	font-weight:400;
	color:block;
	margin-bottom:25px;
}
.para{
	font-size:16px;
	font-weight:400;
	color:gray;
	margin-bottom:35px;
}
.icon ul li{
	display:inline-block;
	margin-right:35px;
}
.icon li a i{
	transition:all 0.7s linear;
}
.icon li a i:hover{
	transform:scale(1.2) rotate(360deg);
}
.ipad{
	margin-left:230px;
}

.features{
	padding:130px 0 90px;
	background-color:hotpink;
}
.t-features{
	margin-top:65px;
	
}
.Tinyone{
	margin-bottom:90px;
}

.pri-head{
	font-size:32px;
	font-weight:bold;
	color:black;
	margin-bottom:25px;
}
.sec-head{
	font-size:20px;
	font-weight:400;
	color:#010101;
	margin-bottom:35px;
}
.champ h5{
	font-size:25px;
	font-weight:400;
	color:#010101;
	text-transform:capitalize;
	
	
}
.para1{
	font-size:16px;
	font-weight:400;
	color:black;
}
.Tinyone i{
	font-size:40px;
	font-weight:bold;
	color:#010101;
	
}



/* <section 3rd start> */


.letest{
	padding:110px 0 75px;
	background-color:#010101;
}

.pri{
	font-size:32px;
	font-weight:bold;
	color:yellow;
	margin-bottom:25px;
	
}
.sec{
   font-size:20px;
	font-weight:400;
	color:#898989;
	margin-bottom:25px;
		
}
.from-group{
	margin-bottom:80px;
}
.footer-list{
	margin-bottom:130px;
}
.t-email{
	width:80%;
	height:50px;
	border-radius:5px;
	outline:none;
}
.submt{
	width:125px;
	height:50px;
	border-radius:5px;
	outline:none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	background-color:yellow;
}
.footer-icon li {
	display:inline-block;
	font-size:60px;
	margin-bottom:10px;
	
}
.footer-icon a i{
	font-size:40px;
	color:#fcbd00;
}
.footer-list li a{
	font-size:16px;
	font-weight:400;
	color:#fff;
	text-transform:capitalize;
	
}
div ul li {
	font-weight:bold;
	font-size:16px;
	text-transform:capitalize;
}